
.icon-search:before { content: '\e800'; } /* '' */
.icon-play-circle2:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-down-micro:before { content: '\e803'; } /* '' */
.icon-video:before { content: '\e804'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
