:root
{
    --glass: rgba(0, 0, 0, 0.5);
    --green: rgb(6, 38, 9);
    --grey:  rgb(26, 26, 26);
    --light-green: rgb(9, 59, 14);
    --red: rgb(81, 0, 0);
    --silver: rgb(206, 186, 127);   
    
    --animation-timing: 400ms ease-in-out;
    --bar-height: 12px;
    --bar-width: 80px;
    --hamburger-gap: 8px;
    --hamburger-margin: 16px;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    background-color: rgb(26, 26, 26);
    color:var(--silver);
    font-family: Helvetica, sans-serif;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.body__shadow
{
    height: 100vh;
    position: fixed;
    width: 20vw;
    z-index: -1;
}

.body__shadow--left
{
    background: linear-gradient(90deg, black, transparent);
    left: 0;
}

.body__shadow--right
{
    background: linear-gradient(90deg,transparent, black);
    right: 0;
}

/*---------------------HEADER--------------------*/

header
{
    background: linear-gradient(180deg, black, transparent);
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    min-width: 100vw;
}

.logo
{
    color: var(--silver);
    display: flex;
    font-family: 'Titan One', cursive;
    font-size: 3.5em;
}

.logo__part 
{
    color: var(--red);
}

/*---------------------NAV BAR--------------------*/

.navi__list 
{
    display: flex;
    font-size: 1.5rem;
    list-style-type: none;
    z-index: 2;
}

.navi__list-item
{
    color: var(--red);
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 26px;
    position: relative;
    transition: color 0.5s;
}

.navi__list-item--first
{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.505), var(--red));
    backdrop-filter: blur(1px);
    border: none;
    border-radius: 5px;
    color: var(--silver);
}

.navi__list-item:hover .navi__sliding-list
{
    display: flex;
    flex-direction: column;
}

.navi__list-item:first-child:hover::after 
{
    width: 0%;
}

.navi__list-item:hover::after 
{
    width: 100%;
}

.navi__list-item:hover
{
    color: var(--silver);
}

.navi__list-item::after 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--red));
    transition: width 0.5s;
}

.navi__open-sliding-list
{
    color: var(--silver);
    text-decoration: none;
}

.navi__sliding-list
{
    display: none;
    list-style-type: none;
    margin-top: 10px;
    translate: all 1s;
}

.navi__sliding-li
{
    color: var(--silver);
    margin-bottom: 5px;
    transition: all 0.5s;
    width: 100%;
}

.navi__sliding-li:hover
{
    cursor: pointer;
    transform: scale(1.15);
}

/*---------------------NAV BAR HAMBURGER MENU--------------------*/

.navi__hamburger-menu
{
    --x-width: calc(var(--hamburger-height) * 1.4);

    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    margin: var(--hamburger-margin);
    position: fixed;
    right: 0;
    width: max-content;
    transform-origin: left;
    transition: all 1s ease-in-out;
    z-index: 1;
}

.navi__hamburger-menu::after,
.navi__hamburger-menu::before,
.navi__hamburger-menu input
{
    background: var(--green);
    border-radius: 9999px;
    box-shadow: inset 0 0 0 3px var(--silver);
    content: "";
    height: var(--bar-height);
    width: var(--bar-width);
    transform-origin: left center;
    transition: all var(--animation-timing);
}

.navi__hamburger-menu input
{
    appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.navi__hamburger-menu:has(input:checked)
{
    transform: translateX(-50vw);
}

.navi__hamburger-menu:has(input:checked) + .navi__list
{
    transform: translateX(0%);
}

.navi__hamburger-menu:has(input:checked)::before
{
    background-color: var(--red);
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) /-2);
}

.navi__hamburger-menu:has(input:checked)::after
{  
    background-color: var(--red);
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) /2); 
}

.navi__hamburger-menu input:checked
{
    opacity: 0;
    width: 0;
}

@media screen and (max-width: 1024px)
{
    header
    {
        justify-content: center;
        position: relative;
    }
    .logo
    {
        font-size: 5em;
        position: absolute;
    }
    .navi__hamburger-menu
    {
        display: flex;
    }
    .navi__list
    {
        backdrop-filter: blur(2px);
        background: var(--glass);
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        transform: translateX(100%);
        transition: all 1s ease-in-out;
        width: 50vw;
    }
    .navi__list-item
    {
        font-size: 3em;
    }
}

/*---------------------COVERS--------------------*/

.release 
{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
}

.release__cover
{
    aspect-ratio: 1 /1;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--silver);
    display: flex;
    flex-direction: column;
    font-family: 'Fondamento', cursive;
    font-size: 2vw;
    justify-content: space-around;
    margin: 110px 0px 30px 0px;
    width: 30vw;
    z-index: -2;
}

.release__cover-image
{
    height: 30%;
    width: 30%;
}

.release__cover--green
{
    background: var(--green);
}

.release__cover--red
{
    background: var(--red);
}

.release__cover--gold
{
    background: var(--silver);
    color: var(--red);
}

@media screen and (max-width: 1024px)
{
    .release
    {
        flex-direction: column;
    }
    .release__cover
    {
        font-size: 2.4em;
        width: 56vw;
    }
}

@media screen and (max-width: 600px)
{
    .release__cover
    {
        width: 64vw;
    }
}

/*---------------------FAIRY TALES--------------------*/

.tales
{
    align-items: center;
    border-top: 2px solid var(--silver);
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    font-size: 24px;
    justify-content: space-between;
    position: relative;
    width: 100vw;
}

.tales__title
{
    color: var(--silver);
    font-family: 'Fondamento', cursive;
    font-size: 36px;
    margin-top: 20px;
}

.tales__ornament
{
    color: var(--red);
    font-size: 58px;
}

.tales__img
{
    align-self: center;
    background: var(--red);
    display: flex;
    margin: 30px 0;
    padding: 4vw 5vw;
    width: 80vw;
    z-index: -2;
}

.tales__read
{
    align-items: center;
    background: radial-gradient(var(--green), black);
    border: 4px solid var(--silver);
    border-radius: 100%;
    box-shadow: 0px 0px 10px var(--red);
    color: var(--silver);
    display: flex;
    font-family: 'Titan One', cursive;
    font-size: 1.7em;
    height: 12vw;
    justify-content: center;
    position: absolute;
    text-align: center;
    transition: all 1s;    
    width: 12vw;
    bottom: 5%;
    right: 10%;
}

.tales__read:hover
{
    box-shadow: 0px 0px 10px var(--silver);
    cursor: pointer;
    font-size: 2em;
    transform: scale(1.1);
}

@media screen and (max-width: 1024px)
{
    .tales__title
    {
        font-size: 52px;
    }
    .tales__img
    {
        width: 92vw;
    }
    .tales__read
    {
        bottom: 4%;
        right: 4%;
    }
}

/*---------------------POPUP--------------------*/

.popup
{
    align-items: center;
    animation: fadeIn 0.8s;
    backdrop-filter: blur(10px);
    background: var(--grey);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.popup__shadow
{
    height: 100vh;
    position: fixed;
    width: 20vw;
    z-index: -1;
}

.popup__shadow--left
{
    background: linear-gradient(90deg, black, transparent);
    left: 0;
}

.popup__shadow--right
{
    background: linear-gradient(90deg,transparent, black);
    right: 0;
}

.popup-img
{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    width: 90vw;
}

.popup-img > img 
{
    animation: fadeIn 0.3s;
    background: white;
    border: 3vw solid var(--red);
    height: auto;
    width: 80vw;
}

.popup__close
{
    color: var(--red);
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    right: 3%;
    top: 1%;
    transition: all 0.3s;
}

.popup__close:hover
{
    color: var(--light-green);
    scale: 1.1;
}

.popup__arrow
{
    background: transparent;
    cursor: pointer;
    color: var(--silver);
    position: absolute;
    transition: all 0.3s;
}

.popup__arrow:hover
{
    color: var(--light-green);
    scale: 1.2;
}

.popup__arrow--left
{
    left:2%;
}

.popup__arrow--right
{
    right: 2%;
}

.hidden
{
    display: none;
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut
{
    from {opacity: 1}
    to {opacity: 0}
}

